
<h3>Create Product</h3>
<div class="error">{{ message }}</div>
<form
  name="productForm"
  #productFrom="ngForm"
  (ngSubmit)="createProduct(productFrom)"
>
  <div ngModelGroup="product">
    <div class="product-name">
      <input
        type="text"
        name="name"
        placeholder="product name"
        ngModel
        required
        #productName="ngModel"
      />
      <div
        *ngIf="
          productName.invalid && (productName.dirty || productName.touched)
        "
      >
        <div *ngIf="productName.errors.required">name is required</div>
      </div>
    </div>

    <div class="product-price">
      <input
        type="number"
        name="price"
        placeholder="product price"
        ngModel
        required
        #productPrice="ngModel"
      />
      <div
        *ngIf="
          productPrice.invalid && (productPrice.dirty || productPrice.touched)
        "
      >
        <div *ngIf="productPrice.errors.required">Price is required</div>
      </div>
    </div>
    <div class="product-imageUrl">
      <input
        type="text"
        name="imageUrl"
        placeholder="product img url"
        ngModel
        required
        #productImageUrl="ngModel"
        pattern="^http(s?)\://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(/\S*)?$"
      />
      <div
        *ngIf="
          productImageUrl.invalid &&
          (productImageUrl.dirty || productImageUrl.touched)
        "
      >
        <div *ngIf="productImageUrl.errors.required">ImageUrl is required</div>
        <div *ngIf="productImageUrl.errors.pattern">
          ImageUrl does not seem to be a valid URL
        </div>
      </div>
    </div>
    <div class="product-isOnSale">
      <input type="checkbox" ngModel name="isOnSale" />On Sale
    </div>
  </div>

  <button type="submit">Submit</button>
</form>
